{% extends 'bootstrap/base.html' %}
{%- block styles %}
    <!-- Bootstrap -->
    <link href="{{bootstrap_find_resource('css/bootstrap.css', cdn='bootstrap')}}" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css" type="text/css">
    <body background="https://filosophy.org/images/writing/using-html5-canvas-to-make-a-generative-background-1.jpeg">
{%- endblock styles %}
{% block body -%}
<body>
<div class="container-fluid">
  <form action="/create_account" method="POST">
    <div class="login">
      <img src="static/images/logo.png" style="margin-left: -50px">
      <div class="login-screen">
        <div class="app-title">
          <h1>Sign Up</h1>
        </div>
        <div class="login-form">
          <div class="control-group">
            <input type="text" class="login-field" value="" placeholder="username" name="username">
            <label class="login-field-icon fui-user" for="login-name"></label>
          </div>
          <div class="control-group">
            <input type="password" class="login-field" value="" placeholder="password" name="password">
            <label class="login-field-icon fui-lock" for="login-pass"></label>
          </div>
          <input type="submit" name="submit_button" value="Create Account" class="btn btn-primary btn-large btn-block" ><br>
        </div>
      </div>
    </div>
  </form>
</div>
</body>
{%- endblock body %}