{% extends "bootstrap/base.html" %}
{%- block styles %}
    <!-- Bootstrap -->
    <link href="{{bootstrap_find_resource('css/bootstrap.css', cdn='bootstrap')}}" rel="stylesheet">
    <style type="text/css">body{background: gray !important}</style>
{%- endblock styles %}


{% block body -%}
<body>
	{% block navbar %}
	<div class="navbar navbar-inverse" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
    				<span class="icon-bar"></span>
    				<span class="icon-bar"></span>
    				<span class="icon-bar"></span>
    			</button>
    			<a class="navbar-brand" href="/">WakeStart</a>
    		</div>
    		<div class="navbar-collapse collapse">
    			<ul class="nav navbar-nav">
    				<li><a href="/">Home</a></li>
    			</ul>
    		</div>
    	</div>
    </div>
{%- endblock navbar %}
<div class="container-fluid">
	<form action="/settings" method="POST">
		<div class="form-group">
			<h2>Set location for weather</h2>
			<label>City</label>
			<input type="search" name="city">
			<label>State</label>
			<input type="search" name="state">
		</div>
		<div class="row">
			<h2 style="margin-left: 15px">Set Alarm</h2>
			<div class="form-group">
				<label style="margin-left: 15px">Time</label>
				<input type="time" name="usr_time" style="margin-left: 15px">
			</div>
			
		</div>
		<div class="row">
			<input type="submit" name="Save" value="Save Settings" style="margin-top: 20px; margin-left: 15px">
		</div>
	</form>

</div>	
</body>
{%- endblock body %}













